# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

PathFinderFDProject/bin/expressInstall.swf
PathFinderFDProject/bin/index.html
PathFinderFDProject/bin/js/swfobject.js
PathFinderFDProject/bin/PathFinderFDProject.swf
PathFinderFDProject/obj/PathFinderFDProjectConfig.old
PathFinderFDProject/obj/PathFinderFDProjectConfig.xml
PathFinderFDProject/PathFinderFDProject.as3proj
PathFinderFDProject/PathFinderFDProject.lxml
PathFinderFDProject/src/com/vec2d/License.txt
PathFinderFDProject/src/Main.as